<li id="search_term_as_a_filter">
	<p>
		<%= link_to image_tag("/images/filters_delete.png"), :url => { :action => "remove_search_term" }, :remote => true %>
		Card contains the term: "<%= search_term_as_a_filter %>"
	</p>
</li>