@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
div.left, div.right { min-height: 50px; background: #434343 url(/images/box_bottom.gif) left bottom no-repeat; position: relative; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989;}
div.left { float: left; width: 283px; margin-right: 20px; margin-left: 20px; padding-top: 25px; margin-bottom: 35px; }
div.right { float: right; width: 283px; margin-left: 20px; padding-top: 25px; margin-bottom: 35px; }
div.center { width: auto; height: 55px; text-align: center;  position: relative; margin: 0 298px 25px 298px; padding: 55px 0 0 25px; }
div.left h1, div.right h1{ position: absolute; top: 0; left: 0; background: url(/images/box_header.gif) top left no-repeat; height: 21px; font: 9px/20px 'Lucida Grande','Lucida Sans Unicode',Verdana, sans-serif; letter-spacing: 1px; font-weight: bold; color: #f0f0f0; display: block; text-transform: uppercase; width: 100%; text-indent: 6px; }
div.center h1{ display: none }

div.center input { text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; }

#nav ul li a:hover, #nav ul li#community a, #nav ul li#community a:hover { background: url(/images/whiteoverlay.png) top center repeat-x; color: #fff;}

h3 { text-transform: uppercase; width: 720px; text-align: center; margin: 0 auto; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; height: auto; padding: 5px; margin-bottom: 5px; }

div#post_center { margin: 0 auto; padding: 0 0 0 25px; width: 985px; text-align: left; }
div#post_center div p { width: 200px; text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; padding: 5px; margin-bottom: 5px; }
div#post_center p { margin: 5px; width: 600px; text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; }
div#post_center p.post_body { font: 12px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; }

.posts ul li { text-align: left; font: 12px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; }
.posts ul li a { text-align: left; font: 12px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #fff; }

div#blog h3 { width: 350px; text-align: left; margin-bottom: -5px; margin-left: -5px; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; }
div#blog p { text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; }

div.tag_cloud { text-align: center; }

.comment img { float: left; height: 35px; margin-right: 5px; }
.comment p { text-align: left; }
.comments { text-align: left; padding: 5px; margin-bottom: 5px;  }
.comment-wrapper { width: 250px; float: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #898989; height: auto; padding: 5px; margin-bottom: 5px; }
.commenter { float: left; width: 25px; margin: 0 10px;   }
.comment { float: right; width: 190px; margin: 0 5px; text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #CCCCCC}
p.comment-sig { text-align: right; }
.commenter input { float: left; height: 35px; }

.your_posts p { margin-left: 10px; }

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

div.center#articles { background: url(/images/articles.gif) top center no-repeat; }
div.center#decklists { background: url(/images/decklists.gif) top center no-repeat; }
div.center#tournament_reports { background: url(/images/tournament_reports.gif) top center no-repeat; }
div.center#blogs { margin: 0 auto; width:985px; background: url(/images/blogs.gif) top center no-repeat; margin-top: -25px; }

div.posts { margin-top: 50px; margin-left: 20px; }
div.left div { margin-right: 25px; }
div.more_my_posts { text-align: right; margin: 5px; }

div.center form input, div.center form textarea { margin-top: 20px; margin-bottom: 10px; }
div.center form label { margin-top: 10px; display: block; font: 14px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #CCCCCC }
div.center form input.button { text-align: center; }
div.center ul li p { font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #ffffff; }
div ol li { margin-left: 35px; margin-top: 5px; margin-bottom: 5px; }

div.right#blogs_right { margin-top: 75px; }
div.center#blogs ul { float: left; text-align: left; }
div.center#blogs ul.blog_posts { margin-top: 30px; }
div.blog_listing_container { margin: 0 auto; width: 600px; display: block; }
div.blog_listing_photo { float: left; width: 100px; margin-right: 5px; }
div.blog_list_info { float: right; width: 300px; }
li.blog_listing { display: block; margin-bottom: 20px; }
p.comments_rating { text-align: right; }
div.center#blogs p.blog_entry_body { margin-top: 2px; margin-bottom: 2px; font-size: 12px; }
div.center#blogs a { font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #ffde71; text-decoration: none; }
div.center#blogs a:hover { color: #ffffff;}
div#your_blog_listing { float: left; background: #434343; margin-top: 45px; }
div#your_blog_listing ul { padding: 5px;} 
div#your_blog_listing ul li { margin-bottom: 0px; }
div#your_blog_listing ul li#create { margin: -5px 5px 2px; }
div#blogs.center h2 a { font: 24px/24px Arial, Helvetica, sans-serif; color: #ffde71; letter-spacing: -1px; font-weight: 700; }
div#blogs.center h2 a:hover { font: 24px/24px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: -1px; font-weight: 700; }
div.new_comment form input.button { margin-left: -10px; margin-top: 0px; }

div.center#post_center div { float: left; margin-top: 50px; text-align: left; }
div.center#post_center div.post { margin: 0 auto; width: 600px; display: block; }

div.right h2 { margin: 10px; }
ul.ajaxful-rating { margin-left: 20px; }

div.center#blog { width: 350px; }
p { word-wrap: break-word; }
img#blog_user_photo { margin-bottom: 10px; margin-top: -50px; }
div.blog_entry { margin-top: 20px; }
h2.blog_entry_title { margin: 10px; color: #ffffff; }
p.blog_item { margin-top: 10px; margin-bottom: 10px; }
div#blog_admin { text-align: center; margin: 10px; font-size: 11px; }
div.center#blog h1{ display: block; margin-bottom: 50px; }
div#blog.center h2 a { text-transform: capitalize; font: 18px/24px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: -1px; font-weight: 700; }
div#blog.center h2 a:hover { font: 18px/24px Arial, Helvetica, sans-serif; color: #ffde71; letter-spacing: -1px; font-weight: 700; }
div.center { padding-bottom: 50px; }
#div.blog_entry { border-bottom: dotted white 1px; padding-bottom: 10px; }
div.divider { border-bottom: dotted white 1px; padding-bottom: 10px; }

div.center form#new_post label { font: 24px/24px Arial, Helvetica, sans-serif; color: #ffde71; letter-spacing: -1px; font-weight: 700; margin-bottom: -5px; }
div.center#new_post { margin: 0 auto; }
div.errorExplanation { margin-top: -15px; }
div.errorExplanation { margin-bottom: 35px; }

div.center form#new_post label.radio_label { display: inline; text-align: left; font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; }
ol.cardlist, ul.cardlist { margin-top: 10px; margin-bottom: 10px; }
ol.cardlist li, ul.cardlist li { font: 11px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; color: #ffffff; }
ul.cardlist li { list-style-type: disc; margin-left: 30px; }
h2.decklist_header { margin-top: 20px; }
.center h3 { text-align: left; width: auto; font-size: 11px; color: #ffde71; }