<div class="reset_password">
  <% form_remote_tag :url => { :controller => "users", :action => "send_reset_password" } do %>

	<%= label_tag "Email" %>
	<%= text_field_tag "email", nil, :class => "field", :id => "email",
		:value => "Enter your e-mail address",
		:onblur => 'if(this.value=="") this.value=this.defaultValue;',
		:onfocus => 'if(this.value==this.defaultValue) this.value="";',
		:autocomplete =>"off" %>

	<div class="button_container">
		<%= label_tag "Submit" %>
	    <%= submit_tag "Submit", :class => "button" %>
	</div>

  <% end %>
</div>

<div class="errors" id="reset_password_errors"></div>